@import '../../responsive.scss';

.homePage {
    display: flex;
    height: 100%;

    .textContainer {
        flex: 3;
        .wrapper{
            padding-right: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;
            @include md{
                padding-right: 0;
            }
            @include sm {
                justify-content: flex-start;
            }
            h1{
                font-size: 47px;
                font-weight: 500;

            }
            p{
                font-size: 12px;
            }
            .boxes{
                display: flex;
                justify-content: space-between;
                @include sm{
                    display: none;
                }
                h1{
                    font-size: 36px;
                }
                h2{
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }

    .imgContainer {
        position: relative;
        flex: 2 1;
        background: #fcf5f3;
        display: flex;
        align-items: center;
        @include md {
            display: none;
        }

        img {
            width: 115%;
            position: absolute;
            right: 0;
        }
    }
}