.listPage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 6;
        overflow-y: scroll;

        .wrapper {
            height: 100%;
            width: 95%;
            /* padding-right: 50px; */
            display: flex;
            flex-direction: column;
            gap: 50px;
        }
    }

    .mapContainer {
        flex: 4;
        height: 100%;
        background: #fcf5f3;
    }
}