@import '../../responsive.scss';

.singlePage {
    display: flex;
    height: max-content;

    @include sm {
        flex-direction: column;
    }

    .details {
        flex: 3;
        height: 100%;
        overflow-y: scroll;
   @include sm{
       flex: none;
       margin-bottom: 40px;
   }
        .wrapper {
            padding-right: 50px;

            .info {
                margin-top: 30px;

                .top {
                    display: flex;
                    justify-content: space-between;

                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .address {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            color: #888;
                            font-size: 14px;

                            img {
                                width: 16px;
                                height: 16px;
                            }
                        }

                        .price {
                            background: #ffc9007a;
                            border-radius: 5px;
                            padding: 5px;
                            width: max-content;
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }

                    h1 {
                        font-weight: 400;
                    }

                    .user {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding: 0px 50px;
                        background: #ffb50029;
                        font-weight: 600;
                        border-radius: 10px;

                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }

                .bottom {
                    margin-top: 50px;
                    color: #555;
                    line-height: 20px;
                }
            }
        }
    }

    .features {
        flex: 2 1;
        height: 100%;
        background-color: #fcf5f3;
        overflow-y: scroll;
        margin-bottom: 15px;
        @include lg{
            font-size: 12px;
        }
        @include sm{
            flex: none;
            height: 100%;
            overflow: hidden;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0 20px;

            .list {
                display: flex;
                gap: 20px;
                padding: 20px 10px;
                background: white;
                border-radius: 10px;

                span {
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                }
            }

            .vertical {
                flex-direction: column;
            }

            .horizontal {
                justify-content: space-between;
            }

            .title {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 10px;
            }

            img {
                width: 24px;
                height: 24px;
                background: #eecbac7d;
            }
        }

        .feature {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .mapContainer {
        width: 100%;
        height: 200px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;

        .button {
            display: flex;
            align-items: center;
            padding: 15px;
            gap: 5px;
            background: white;
            border: 1px solid #fece51;
            cursor: pointer;
            border-radius: 5px;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}